* {
    padding: 0;
    margin: 0;
}

.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: space-around;
    align-items: center;
}

#names, #inames {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.card {
    width: 8rem;
    height: 8rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: lightskyblue;
    border-radius: 1rem;
}